/* app/components/Navbar.module.css */

.menuButton {
    background-color: #1db954; /* Spotify Green color */
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
  }
  
  .menuButton:hover {
    background-color: #1aa644; /* Slightly darker green on hover */
  }
  
  .navbar {
    width: 100%;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    display: flex;
    justify-content: space-between; /* Distribute space between logo, menu, and links */
    align-items: center; /* Center the items vertically */
    position: relative; /* Ensure it's above other content */
    top: 0;
    left: 0;
    z-index: 20; /* Make sure navbar is on top of other elements */
    pointer-events: all; /* Ensure navbar is interactable */
  }
  
  .logo a {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center; /* Center links horizontally */
    align-items: center;
  }
  
  .navLinks li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .navLinks li a:hover {
    color: #1db954; /* Spotify Green */
  }
  
  .navbar.dark {
    background-color: #333333; /* Darker background for dark mode */
  }
  
  .navLinks li a.darkText {
    color: #000000; /* Dark mode text color */
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 15px 20px;
    }
  
    .navLinks {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      padding: 15px 20px;
      transform: translateY(-150%);
      opacity: 0;
      pointer-events: none;
  
    }
  
    .navLinks.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  
    .hamburger {
      display: flex;
    }
  
    .logo a {
      font-size: 20px;
    }
  
    .navLinks li a {
      font-size: 14px;
    }
  }
  