<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <style>
            .email-container {
                max-width: 600px;
                margin: 0 auto;
                font-family: Arial, sans-serif;
                line-height: 1.6;
                color: #333333;
            }
            .footer {
                margin-top: 30px;
                font-size: 12px;
                color: #666666;
            }
        </style>
    </head>
    <body>
        <div class="email-container">
            <h2>Welcome to CS2340 Group 39's Spotify Wrapped App!</h2>
            <p>Hello {{ user.username }},</p>
            <p>
                Thank you for signing up. Please verify your email address by clicking the
                link below:
            </p>
            <a href="{{ verification_url }}"><p>Click me</p></a>
            <p>This link will expire in {{ valid_for }}.</p>
            <div class="footer">
                <p>If you didn't create an account with us, please ignore this email.</p>
                <p>This is an automated message, please do not reply to this email.</p>
            </div>
        </div>
    </body>
</html>
